.menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 0 20px 20px;
}

.buttons {
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    box-sizing: border-box;
}

.title {
    font-family: Inter;
    font-size: 120px;
    margin: 0;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    font-family: Inter;
    font-size: 20px;
}

.button::before {
    content: "";
    height: 0;
}

.preview {
    font-size: 35px;
    margin: 0;
}

.name {
    margin: 0;
}

.browse-wrapper {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.browse {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    font-family: Inter;
    font-size: 70px;
}
