.buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    font-family: Inter;
    font-size: 20px;
}

.button::before {
    content: "";
    height: 0;
}

.preview {
    font-size: 40px;
    margin: 0;
}

.name {
    margin: 0;
}

.browse {
    grid-column: span 2;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    font-family: Inter;
    font-size: 70px;
}
