.buttons {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    font-family: Inter;
    font-size: 20px;
}

.browse {
    grid-column: span 2;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    font-family: Inter;
    font-size: 70px;
    line-height: 0.1;
}
