.browse-container {
    padding: 10px 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.search-bar {
    font-family: Inter;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.collections {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    background-color: lightgrey;
}

.collection-container {
    display: flex;
    width: 100%;
}

.collection {
    flex-grow: 1;
    font-family: Inter;
    font-size: 30px;
    margin: 1px 1px;
    padding: 10px 0 10px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
}

.add-collection-button {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    border-radius: 10px;
}

.collection-delete-icon {
    margin-left: -100px;
}

.edit-icon {
    margin-right: 10px;
}

@media (min-width: 769px) {
    .collection-delete-icon, .edit-icon {
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    .collection-container:hover .edit-icon {
        opacity: 1;
    }

    .collection-container:hover .collection-delete-icon {
        opacity: 1;
    }
}
