.browse-container {
    padding: 10px 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.search-bar {
    font-family: Inter;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.collections {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    background-color: lightgrey;
    border-bottom-width: 0;
}

.collection {
    font-family: Inter;
    font-size: 30px;
    margin: 1px 1px;
    padding: 10px 0 10px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
}