.edit-container {
    padding: 10px 20px 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 70px;
}

.tasks {
    flex-grow: 1;
    overflow-y: scroll;
    border: 2px solid lightgrey;
    padding: 10px 10px 0;
}

.task {
    margin-bottom: 15px;
}

.formula {
    font-size: 50px;
    text-align: center;
}

.task-formula {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
}

.option-formula {
    flex-grow: 1;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 20px;
    padding: 3px;
    margin-top: 5px;
    margin-left: 10px;
}

.option-right {
    background-color: lightgreen;
    border-color: green;
}

.option-wrong {
    background-color: lightcoral;
    border-color: red;
}

.row-container {
    display: flex;
    margin-left: 10px;
}

.add-option-button {
    width: calc(100% - 20px);
    margin-top: 5px;
    margin-left: 20px;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: white;
}

.add-task-button {
    width: 100%;
    margin-top: 5px;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: white;
}

.delete-icon {
    margin-left: -55px;
    margin-right: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.delete-icon:hover {
    opacity: 1;
}