html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgrey;
}

.main {
    width: min(max(50%, 700px), 100%);
    height: 100%;
    margin: 0 auto 0;
    background-color: white;
}