.header {
    margin: 0;
    text-align: center;
    font-family: Inter;
    margin-bottom: 20px;
}

@media(min-width: 769px) {
    .header {
        font-size: 80px;
    }
}

@media(max-width: 768px) {
    .header {
        font-size: 50px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
}

@media(min-width: 769px) {
    .form {
        width: 50%;
    }
}

@media(max-width: 768px) {
    .form {
        width: 75%;
    }
}

.label {
    width: 100%;
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 10px;
}

.field {
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
}

.error {
    text-align: center;
    font-family: Inter;
    background-color: lightcoral;
    margin: 0;
    padding: 5px 0 5px;
}

.link {
    text-align: center;
    font-family: Inter;
    margin-top: 5px;
}

@media (min-width: 769px) {
    .button {
        margin: 10px 20px 0;
        font-size: 25px;
        font-family: Inter;
    }
}

@media (max-width: 768px) {
    .button {
        margin-top: 10px;
        font-family: Inter;
        font-size: 25px;
        padding: 0;
    }
}
