.menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.buttons {
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.title {
    font-family: Inter;
    margin: 0 auto 0;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    font-family: Inter;
    font-size: 20px;
}

.button::before {
    content: "";
    height: 0;
}

.preview {
    margin: 0;
}

.name {
    margin: 0;
}

.browse-wrapper {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.browse {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    font-family: Inter;
    font-size: 70px;
}

@media (min-width: 769px) {
    .preview {
        font-size: 35px;
    }

    .title {
        font-size: 120px;
    }

    .buttons {
        gap: 10px;
    }

    .name {
        font-size: 20px;
    }

    .menu-wrapper {
        padding: 0 20px 20px;
    }
}

@media (max-width: 768px) {
    .preview {
        font-size: 30px;
    }

    .title {
        font-size: 70px;
    }

    .buttons {
        gap: 5px;
    }

    .name {
        font-size: 20px;
        max-width: 40vw;
    }

    .menu-wrapper {
        padding: 0 5px 5px;
    }
}