.task-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.task-data-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.task-formula {
    font-size: 70px;
    text-align: center;
    padding: 20px;
}

.option {
    font-size: 50px;
    margin: 5px 10px 5px;
    flex-grow: 1;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
}

.option-green {
    border-color: green;
    background-color: lightgreen;
}

.option-red {
    border-color: red;
    background-color: lightcoral;
}

.next-wrapper {
    margin: 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.next-link {
    text-decoration: none;
    width: 100%;
}

.next {
    font-size: 50px;
    line-height: 1.5;
    color: white;
    background-color: red;
    border-width: 0;
    border-radius: 10px;
    width: 100%;
}

.next-green {
    background-color: green;
}

.solution-button {
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    font-family: Inter;
    font-size: 45px;
    margin-left: -70px;
}

.solution-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    margin: 20px;
    margin-bottom: 0;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-gutter: stable;
    background-color: white;
}

.solution {
    font-family: Inter;
    font-size: 20px;
}