.task-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.task-formula {
    font-size: 70px;
    text-align: center;
    padding: 20px;
}

.option {
    font-size: 50px;
    margin: 5px 10px 5px;
    flex-grow: 1;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
}

.option-green {
    border-color: green;
    background-color: lightgreen;
}

.option-red {
    border-color: red;
    background-color: lightcoral;
}

.next-wrapper {
    margin: 10px 10px 10px;
}

.next {
    font-size: 50px;
    line-height: 1.5;
    color: white;
    background-color: red;
    border-width: 0;
    border-radius: 10px;
    width: 100%;
}

.next-green {
    background-color: green;
}
